{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_advancedgrading/header

    Example context (json):
    {
    "coursename": "Advanced Grading Report Demonstration",
    "assignment": "Rubric with blind marking",
    "gradingmethod": "Rubric",
    "definition": "My rubric grading setup"
    }
}}

<table class="table table-hover table-bordered table-striped ">
  <tbody>
      {{#header}}
      <tr>
           <td>
              <b>{{#str}}course{{/str}}:{{coursename}}</b>
           </td>
      </tr>
      <tr>
           <td>
              <b>{{#str}}assignment, report_advancedgrading {{/str}}:{{assignment}}</b>
           </td>
      </tr>
      <tr>
           <td>
             <b>{{#str}}grademethod,report_advancedgrading{{/str}}:{{gradingmethod}}</b>
          </tr>
      <tr>
           <td>
             <b> {{definition}}</b>
           </td>
      </tr>
      {{/header}}
    </tbody>
</table>