<div>

<table  id="rubric-header" class="table table-hover table-bordered table-striped" style="width:101%;" >
    <thead>
     <tr>
            <th {{{studentspan}}}>
                {{#str}}student, report_advancedgrading{{/str}}
            </th>
            {{#criteria}}
            <th {{{criteriaspan}}} class="align-top">{{description}}</th>
            {{/criteria}}
            <th {{{summaryspan}}} >{{#str}}gradesummary, report_advancedgrading{{/str}}</th>
            <th></th><th></th>

     </tr>
        <tr>
            {{{studentheaders}}}
            {{#criteria}}
            <th {{{headerstyle}}} ><b>{{#str}}score, report_advancedgrading {{/str}}</b></th>
            <th {{{headerstyle}}} ><b>{{#str}}definition, report_advancedgrading {{/str}}</b></th>
            <th {{{headerstyle}}} ><b>{{#str}}feedback, report_advancedgrading{{/str}}</b></th>
            {{/criteria}}
            <th {{{headerstyle}}} ><b>{{#str}}overall_feedback, report_advancedgrading{{/str}} </b></th>
            <th {{{headerstyle}}} ><b>{{#str}}grade, report_advancedgrading{{/str}} </b></th>
            <th {{{headerstyle}}} ><b>{{#str}}gradedby, report_advancedgrading{{/str}}</b></th>
            <th {{{headerstyle}}} ><b>{{#str}}timegraded, report_advancedgrading {{/str}}</b></th>
            {{{summaryheader}}}
        </tr>
    </thead>
    <tbody>
        {{{rows}}}
    </tbody>
 </table>
</div>
