{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template plugintype_pluginname/template_name

Template purpose and description.

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* none

Example context (json):
{
}
}}


<table id="rubric-header" class="table table-bordered">
    <tbody>
        <tr>
            {{#header}}
            <td colspan={{studentcolspan}}>
                {{#str}}course{{/str}}:{{coursename}}
            </td>
        </tr>
        <tr>
            <td colspan={{studentcolspan}}>
                {{#str}}assignment, report_advancedgrading {{/str}}:{{assignment}}
            </td>
        </tr>

        <tr>
            <td colspan={{studentcolspan}}>
                {{#str}}grademethod,report_advancedgrading{{/str}}:{{gradingmethod}}
            </td>
        <tr>
            <td colspan={{studentcolspan}}>
                {{definition}}
            </td>
        </tr>
        {{/header}}
        <tr>
            <td colspan=3>
                Student
            </td>
            {{#criteria}}
            <td colspan=2 class="criteriaheader">{{description}}</td>
            {{/criteria}}
            <td colspan=2 class="infoheader">Grading Info</td>
        </tr>
        <tr>
            <th title='firstname'>
                Firstname
           </th>
            <th>
                Lastname
            </th>
            {{#showidnumber}}
            <th>
                Id Number
            </th>
            {{/showidnumber}}
            {{#criteria}}
            <th>Score</th>
            <th>Feedback</th>
            {{/criteria}}
            <th class="infoheader"> Graded by </th>
            <th class="infoheader"> Time Graded</th>
        </tr>
    </thead>